.classA{background-color: #CCCCCC;}
.classA{background-color: #CCCCCC;}
.classA{background-color: #CCCCCC;}
.classA{background-color: #CCCCCC;}
.classA{background-color: #CCCCCC;}
.classA{background-color: #CCCCCC;}
.classA{background-color: #CCCCCC;}
.classA{background-color: #CCCCCC;}
.classA{background-color: #CCCCCC;}
.classA{background-color: #CCCCCC;}
.classA{background-color: #CCCCCC;}
.classA{background-color: #CCCCCC;}
.classA{background-color: #CCCCCC;}
asdsfdfgghjhjkhljktyutyutyvsdfgfghuerasdfsdaqweqwe
